<p>
  <!-- Вывод хэш @row с ключем content (вывод поста) -->
  <%= @result[:content] %>
  <br>

  <!-- Вывод хэш @row с ключем created_date (вывод даты)-->
  Added at: <%= @result[:created_at] %>
</p>

<br>
<h4>Comments:</h4>
<!-- Вывод коментарий из таблицы comments с ключем content-->
<% @comments.each do |commentary| %>
  <p>
    <%= commentary['content'] %>
    <br>
    <span class="small">Added at: <%= commentary[:created_at] %></span> 
  </p>
  <hr>
<% end %>

<!-- Форма для ввода текста и отправки его в post обработчик-->
<form action="/comment/<%= @result[:id] %>" method="post"  role="form">
  <textarea name="cmt[content]" class="form-control" rows="8" style="width:500px" placeholder="Type comment here"></textarea>
  <br>
  <button type="submit" class="btn btn-info">Add comment</button>
</form>