<h2>Latests posts</h2>
<br>

<!-- Присваивание каждого ключ-значения хэша @results переменной post-->
<!-- Переменая post получается тоже ввиде хэша -->
<!-- post={id==>Идентификатор, content==>Текст, created_date==>Дата}-->
<% @results.each do |post| %>

<p>
  <!-- Вывод переменой post с ключем content -->
  <%= post['content'] %>
  <br>

  <!-- Вывод переменой post с ключем author -->
  <p>
    <form action="/" method="post">
      Author: [ <%= post['author'] %> ]
      <!-- Вывод переменой post с ключем created_date -->
      <span style='margin-left: 55px;'> Added at: [ <%= post['created_at'] %> ]</span>
    </form>
    <form class="form-inline">
      <div class="form-group" >
        <!-- Вывод ссылки на страницу с комментариями -->
        <!-- Для каждого поста в ссылку добавляется свой id  -->
        <a href="/comment/<%= post['id'] %>">Comments
          <!-- Для каждого поста выводитколичесво комментариев  -->
          (<%= Comment.where(post_id: post['id']).count %>)
        </a>
        Post ID=<%= post['id'] %>

        <!-- Кнопка с запросом на удаление в delete '/:post_id'-->
        <form action="/<%= post['id'] %>" method="post">
          <span style='margin-left: 55px;'>
            <input type="hidden" name="_method" value="delete" /> 
            <input type="submit" class="btn btn-danger btn-xs" value="Delete post with comments" />
          </span>
        </form>
      </div>
    </form>
  </p>

  <hr>
  <br>
</p>
   
<% end %>